video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.HomePage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
}
.HomePage > h1{
    color: white;
}
